<%- include("partials/header") %>

<%- include("partials/navbar") %>
<section class="contact">
    <div class="Box">
        <div class="fBox">
            <form action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
            
                <h2>Edit blog => <br>"<%= blog.title %>" </h2>
                <div class="iBox">
                    <input type="text" name="blog[title]" value="<%= blog.title %>" required="required">
                    <span>Title : </span>
                </div>
                <div class="iBox">
                    <textarea name="blog[image]" required="required"><%= blog.image %></textarea>
                    <span>Image : </span>
                </div>
                <div class="iBox">
                    <textarea required="required" name="blog[body]"><%= blog.body %><</textarea>
                    <span>Blog Post :</span>
                </div>
                <div class="iBox">
                    <input type="submit" value="Update">
                </div>
            
            </form>
        </div>
      <div class="UpdImgBx">
      </div>
    
</div>


</section>




<%- include("partials/footer") %>