<%- include("partials/header") %>
    
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- BrandLogo -->
        <a class="navbar-brand"><i class="fa fa-cubes" style="font-size:40px;color:red"></i>BlogSite</a>
        <!-- Navbar-Toggler-Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- div, we want to collapse -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">New Posts</a>
                </li>
            </ul>



    </nav>

    <% blogs.forEach(function(blog){ %>
        <ul>
            <li> 
                <h2> <%= blog.title %> </h2>
                <img src="<%= blog.image %>" alt ="Image">
                <p> <%= blog.body %> </p>
                <p> <%= blog.created %></p>
            </li>
        </ul>
        <a href="/blogs/<%= blog._id %>" class="btn btn-outline-primary">Show More</a>

    <% }) %> 
</div>
<%- include("partials/footer") %>