<%- include("partials/header") %>
<%- include("partials/navbar") %>

    <div class="container mt-5 mb-5" style="display: flex;justify-content: center;align-items: center;">
        <div class="card text-center w-100">
            <div class="card-header"><%= blog.createdAt.toDateString() %></div>
            <div class="card-body">
            <div class="container">
                
                <img class="image-responsive" id="show-img" style="border-radius: 12px;" src="<%= blog.image %>">
                <div class="card_heading">
                    <h5 class="card-title">Title : <%= blog.title %></h5>
                    <p>Written By : <%= blog.author.name %></p>
                </div>
                <div class="like-group">
                <div style="padding-bottom: 10px;">
                    <form action="/blogs/<%= blog._id %>/likes" method="POST">
                        <div class="btn-group">
                            <% if (currentUser && blog.likes.some((like) => { %>
                               <% return like.equals(currentUser._id); %>
                            <% })) { %>
                            <button class="btn btn-sm btn-primary">
                                <i class="fas fa-thumbs-up"></i> Liked (<%= blog.likes.length %>)
                            </button>
                            <% } else { %>
                            <button class="btn btn-sm btn-secondary">
                                <i class="fas fa-thumbs-up"></i> Like (<%= blog.likes.length %>)
                            </button>
                            <% } %>
                            <button type="button" class="btn btn-sm btn-light" data-toggle="modal"
                                    data-target="#campgroundLikes">See more details
                            </button>
                        </div>
                    </form>
                </div>
                <div class="totalLikes">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                            data-target="#blogLikes">
                        <span>Total likes: <i class="fas fa-thumbs-up"></i> <%= blog.likes.length %></span>
                    </button>
                </div>
            </div>
                <p class="card-text mt-4" style="text-align: left;"><%= blog.body %></p>
            </div>
            
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <form>
                    <a href="/blogs" class="btn btn-outline-primary" >Back</a> 
                    </form>
                    <% if(currentUser && blog.author.id.equals(currentUser._id)) { %>
                    <form>
                    <a href="/blogs/<%= blog._id %>/edit" class="btn btn-outline-warning ">Update</a>
                    </form>
                    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-outline-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
                <div class="comments">
                    <h1>COMMENTS</h1>&nbsp;&nbsp;<a href="/blogs/<%= blog._id %>/comments/new" class="btn btn-success">Add a Comment</a>
                      
                            <% var i = 0; %>
                            <div class="row" id="cmnt">
                                <% blog.comments.forEach(function(comment) { %>
                                    <% i+=1; %>
                                
                                    <div class="col-md-12" id="parent_cmnt">
                                        <div class="child_cmnt">
                                            <strong><%= comment.author.username %></strong>
                                            <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                                        </div>
                                        <p><%= comment.text %></p>
                                        <div class="C-btn" style="display: flex;justify-content: space-between;margin-bottom:5px;">
                                          
                                        <% if(currentUser && comment.author.email === (currentUser.username)) {%>
                                            <a class="btn btn-sm btn-outline-warning" href="/blogs/<%= blog._id %>/comments/<%= comment._id %>/edit">EDIT</a>
                                            <form action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                <input type="submit" class="btn btn-sm btn-outline-danger" value="DELETE">
                                            </form>
                                            <% } %>
                                        </div>
                                    </div>
                               
                                
                                <% }) %>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
 <!-- Campground Likes Modal -->
<div id="campgroundLikes" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Blog likes: <%= blog.likes.length %></h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Liked by:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% blog.likes.forEach(function(like) { %>
                        <tr>
                            <td><span class="badge"><i class="fas fa-user"></i></span> <%= like.name %></td>
                        </tr>
                    <% }); %>
                    <% if (blog.likes.length === 0) { %>
                        <tr>
                            <td><em>No likes yet.</em></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>