<%- include("partials/header") %>
<%- include("partials/navbar") %>

    <div class="container mt-5 mb-5" style="display: flex;justify-content: center;align-items: center;">
        <div class="card text-center w-100">
            <div class="card-header"><%= blog.createdAt.toDateString() %></div>
            <div class="card-body">
            <div class="container">
                
                <img class="image-responsive" id="show-img" style="border-radius: 12px;" src="<%= blog.image %>">
                <div class="card_heading">
                    <h5 class="card-title">Title : <%= blog.title %></h5>
                    <p>Written By : <%= blog.author.name %></p>
                </div>
                
                <p class="card-text mt-4" style="text-align: left;"><%= blog.body %></p>
            </div>
            
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <form>
                    <a href="/blogs" class="btn btn-outline-primary" >Back</a> 
                    </form>
                    <% if(currentUser && blog.author.id.equals(currentUser._id)) { %>
                    <form>
                    <a href="/blogs/<%= blog._id %>/edit" class="btn btn-outline-warning ">Update</a>
                    </form>
                    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-outline-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
                <div class="comments">
                    <h1>COMMENTS</h1>&nbsp;&nbsp;<a href="/blogs/<%= blog._id %>/comments/new" class="btn btn-success">Add a Comment</a>
                      
                            <% var i = 0; %>
                            <div class="row" id="cmnt">
                                <% blog.comments.forEach(function(comment) { %>
                                    <% i+=1; %>
                                
                                    <div class="col-md-12" id="parent_cmnt">
                                        <div class="child_cmnt">
                                            <strong><%= comment.author.username %></strong>
                                            <span class="pull-right"><% moment(comment.createdAt).fromNow() %></span>
                                        </div>
                                        <p><%= comment.text %></p>
                                        <div class="C-btn" style="display: flex;justify-content: space-between;margin-bottom:5px;">
                                          
                                        <% if(currentUser && comment.author.email === (currentUser.username)) {%>
                                            <a class="btn btn-sm btn-outline-warning" href="/blogs/<%= blog._id %>/comments/<%= comment._id %>/edit">EDIT</a>
                                            <form action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                <input type="submit" class="btn btn-sm btn-outline-danger" value="DELETE">
                                            </form>
                                            <% } %>
                                        </div>
                                    </div>
                               
                                
                                <% }) %>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
 

<%- include("partials/footer") %>